---
---

@import 'minima';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Open+Sans|Ubuntu+Mono');

html, body, div, p {
  font-family: 'Open Sans'
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab'
}

pre, code {
  font-family: 'Ubuntu Mono';
  background-color: #efefef;
}

a, a:active, a:visited {
  color: #2d753a;
}

body > header {
  background-color: #000;

  .site-title, .site-title:visited {
    font-family: 'Roboto Slab';
    color: #fff;
  }

  .site-nav {
    .page-link, .page-link:visited {
      color: #fff;

      @include media-query($on-palm) {
        color: #000;
      }
    }
  }
}

img.profile {
  width: 400px;
}
